<app-section-hero></app-section-hero>
    <!-- Hero Section End -->

    <!-- Register Domain Section Begin -->
    <app-section-register-domain></app-section-register-domain>
    <!-- Register Domain Section End -->
 
    <!-- Services Section Begin -->
    <app-section-services></app-section-services>
    <!-- Services Section End -->

    <!-- Pricing Section Begin -->
    <app-section></app-section>
    <!-- Pricing Section End -->

    <!-- Achievement Section Begin -->
   <app-section-achievement></app-section-achievement>
    <!-- Achievement Section End -->

    <!-- Work Section Begin -->
    <app-section-work></app-section-work>
    <!-- Work Section End -->

    <!-- Choose Plan Section Begin -->
    <app-section-plan></app-section-plan>