<section class="choose-plan-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <img src="assets/img/choose-plan.png" alt="">
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="plan__text">
                    <h3>up to 70% discount with free domain name registration included!</h3>
                    <ul>
                        <li><span class="fa fa-check"></span> FREE Domain Name</li>
                        <li><span class="fa fa-check"></span> FREE Email Address</li>
                        <li><span class="fa fa-check"></span> Plently of disk space</li>
                        <li><span class="fa fa-check"></span> FREE Website Bullder</li>
                        <li><span class="fa fa-check"></span> FREE Marketing Tools</li>
                        <li><span class="fa fa-check"></span> 1-Click WordPress Install</li>
                    </ul>
                    <a href="#" class="primary-btn">Get start now</a>
                </div>
            </div>
        </div>
    </div>
</section>